@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
    height  : 100%;
    overflow: hidden;
    position: relative;
}

body {
    height  : 100%;
    overflow: auto;
    position: relative;
    background-color: #f1f1f1;
}


#app {
    position: relative;
    padding-bottom: 56px;
    max-width: 700px;
    margin: 0 auto;
}

.container {
    padding: 0 15px;
}

.header {
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    max-width: 700px;
    width: 100%;
    z-index: 999;
}

.centered {
    text-align: center;
}

.add_purchases {
    margin: 10px auto 20px;
}

.purchases_list {
    table {
        table-layout: fixed;
        .content {
            width: 35%;

            .md-table-cell-container {
                padding: 0 !important;

                .inner {
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    height: 50px;

                    .md-list-item-text {
                        display: block;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .delete,
        .edit {
            width: 30px;

            .md-table-cell-container {
                padding: 0 !important;
            }
        }

        .delete {
            text-align: right;
        }

        .md-primary {
            .delete {
                .md-icon {
                    color: #fff;
                }
            }
        }
    }
}